<p id="notice"><%= notice %></p>

<p>
  <b>Mark:</b>
  <%= @mark.mark %>
</p>

<p>
  <b>Comment:</b>
  <%= @mark.comment %>
</p>


<%= link_to 'Edit', edit_mark_path(@mark) %> |
<%= link_to 'Back', marks_path %>
