<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <h2><%= t("Sign in") %></h2>

  <%= f.inputs do %>
    <%= f.input :email %>
    <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.input :remember_me, :as => :boolean %></p>
  <% end -%>
<% end %>


  <p><%= f.submit t("Sign in") %></p>

  <%= render :partial => "devise/shared/links" %>
<% end %>

